@using ViewModelApplication.Models.ViewModel
@model SoccerPlayerAddVM

@{
    ViewData["Title"] = "Add New SoccerPlayer";
}

<h1>Add New Player</h1>
<hr />
<div class="row">
    <div class="col-8">
        <form asp-action="Create" asp-controller="SoccerPlayer" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label asp-for="@Model.SoccerPlayer.ID">Id</label>
                <input asp-for="@Model.SoccerPlayer.ID" />
                <span asp-validation-for="@Model.SoccerPlayer.ID"></span>
            </div>
            <div>
                <label asp-for="@Model.SoccerPlayer.Name">Name</label>
                <input asp-for="@Model.SoccerPlayer.Name" />
                <span asp-validation-for="@Model.SoccerPlayer.Name"></span>
            </div>
            <div>
                <label asp-for="@Model.SoccerPlayer.Age">Age</label>
                <input asp-for="@Model.SoccerPlayer.Age" />
                <span asp-validation-for="@Model.SoccerPlayer.Age"></span>
            </div>

            <div>
                <label asp-for="@Model.SoccerPlayer.PositionID">Position</label>
                <select asp-for="@Model.SoccerPlayer.PositionID">
                    <option>Select Position</option>
                    @foreach (Position item in Model.Positions)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.SoccerPlayer.PositionID"></span>
            </div>

            <div>
                <label asp-for="@Model.SoccerPlayer.TeamID">Position</label>
                <select asp-for="@Model.SoccerPlayer.TeamID">
                    <option>Select Position</option>
                    @foreach (Team item in Model.Teams)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.SoccerPlayer.TeamID"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Add New Player</button>
            </div>
        </form>
    </div>
</div>